.team-cover{
	.card{
		margin-bottom: 20px;
		/*&:hover{
			.link-page{
				display:block;
				 @include flex-center;
			}
		}*/


	}
	.card-head{
		padding: 7px 10px;
	}
	.card-text{
		padding: 8px 10px;
		h3{
			font-size: 16px;
		}
	}
	
}
.pagination{
	@include flex-center;
	.page-link{
		margin-top:20px;
		color: $drak-blue;
	}
}
.team{
	.card{
    img {
      /*height: 383px;
      object-fit: cover;*/
    }
		&:hover{
			.link-page{
				display:block;
				 transform: translate(-50%, -50%) rotateY(0);
        opacity: 1;
        


			}
		}
	}
	.link-page{
		background: rgba(17, 41, 88, 0.9);
    border-radius: 3px 3px 0 0;
    padding: 75px 35px 20px;
   width: calc(100% - 60px);
    height: calc(100% - 189px);
    position: absolute;
    left: 47%;
    top: 37%;
    transform: translate(-50%, -50%) rotateY(90deg);
    text-align: center;
    transition: all 0.5s;
    transform: scale(1);
    z-index: 111;
    display: none;
       a{
       	background: #fff;
       width: 70%;
       margin: 0 auto;
      text-align: center;
      padding: 15px 20px;
      position: absolute;
     border-radius: 6px;
     box-shadow: 0 10px 60px rgba(0, 0, 0, 0.07);
     display: block;
    @include absolute-center;
     &:after{
     	content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 35px 0 35px;
    border-color: #fffffe transparent transparent transparent;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -28px;
     }
       }
       span{
       	display: block;
       	font-size: 20px;
       	color: $drak-blue;
       }

	}
}
.team-info{
  position: relative;
  @media(max-width: 991px){
    box-shadow: 0px 9px 60px rgba(8, 20, 44, 0.07);
    border: 1px solid #e3e8f4;
    border-radius: 15px;
    text-align: center;
    padding: 45px 0 70px;
  }
  figure{
    img{
      width: auto;
     
    }
  }
  .exp{
    position: absolute;
    right: -15px;
    top: 38%;
    rotate: 270deg;
    background: $drak-blue;
    color: $white;
    padding: 10px 10px;
    @media(max-width: 1440px){
      right: -3%;
    }
    @media(max-width: 1399px){
      right: -20%;
    }
     @media(max-width: 1199px){
      right: -19%;
    }
     @media(max-width: 991px){
      display:none;
    }
  }
  .social-link-icon{
    ul{
      display: flex;
      gap: 10px;
      border-radius: 4px;
      background: var(--White, #FFF);
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
      width: 37%;
      padding: 8px 10px;
      position: absolute;
      right: 134px;
      bottom: -16px;
      @media(max-width: 1440px){
        width: 33%;
        right: 155px;
      }
       @media(max-width: 1399px){
           width: 42%;
          right: 59px;
        }
        @media(max-width: 1199px){
           width: 42%;
          right: 65px;
        }
         @media(max-width: 991px){
          width:auto;
          right: 153px;
          bottom:6px;
        }
         @media(max-width: 440px){
          width:auto;
          right: 116px;
        }
        @media(max-width: 375px){
          width:auto;
          right: 80px;
        }
      a{
        color: $drak-blue;
        font-size: 20px;
      }
      li{
        padding-right: 22px;
        @media(max-width: 1440px){
          padding-right: 12px;
        }
       
      }
    }
  }
}
.team-detail{
  .more-bottom{
    margin-top: 30px;
  }
  .title-left {
    .sub-title{
      left: 33%;
      @media(max-width: 1440px){
        left: 31%;
      }
      @media(max-width: 1399px){
        left: 38%;
      }
      @media(max-width: 1199px){
        left: 53%;
      }
    }
  }
h6{
  margin-top: 20px;
}
}
 .exp-detail{
    .text-contain{
    color: $praraph;
    .list-project-ensure{
       li{
      color: #706b6b;
    }
    }
  }
  }

