.terms-condition{
  border:1px solid $light-color;
     padding: 20px 40px;
     border-radius: 6px;
  .cover{
     
     margin-bottom: 20px;
  }
  .text-contain{
    color: $praraph;
    padding-bottom: 30px;
  }
}
 
 