.btn-primary{
   width: 150px;
   border-radius: 12px;
   border: 1px solid var(--blur, #0378D8);
   background: linear-gradient(180deg, #0E59F2 0.18%, rgba(14, 89, 242, 0.00) 313.35%);
   /*border-left: 30px solid $drak-blue;*/
   font-size: 16px;
   position:relative;
   &:after{
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 100%;
    width: 24px;
    background:$drak-blue; 
    border-radius: 10px 0 0 10px;
    border: 1px solid $drak-blue;
    transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 222;
   
   }
 &:hover {
    &::after {
      width: 100%;
      background:$drak-blue; 
      border-radius: 10px;

    }
  } 

}

.bth--secondery{
  background: $white;
  color: $drak-blue;
  border:0;
  &:after{
    background:none;
    border:0;
  }
}
