
$primary-color: #000;
$drak-blue:#0F3E6E;
$gary-light-color:#686363;
$praraph:#918f99;
$white:#fff;
$light-color:#F4F2F9;
$blue:#0378D8;
$border-line:#C7C7C7;
$light-blue:#F1F6FE;
$gray-dark:rgba(228, 228, 229, 0.95);
$sky-light:#E7F2FB;


